<p>liblisting works!</p>

<!-- <lib-listing-angular15 ></lib-listing-angular15> -->

<h1>Angular 15 Liblisting Example !!!! </h1>

<lib-listing *ngIf="pendingmodelapplicationarray!=null && pendingmodelapplicationarray.length>0"
    (onLiblistingChange)="listenLiblistingChange($event)" [datasource]="pendingmodelapplicationarray"
    [skip]="pendingmodelapplicationarray_skip" [modify_header_array]="modify_header_array" [apiurl]="urlforlist"
    [deleteendpoint]="deleteendpoint" [updateendpoint]="updateendpoint" [date_search_source]=""
    [date_search_endpoint]="" [sourcedata]="tablename" [statusarr]="statusarray"
    [detail_datatype]="pendingmodelapplicationarray_detail_datatype" [editroute]="editroute"
    [detail_skip_array]="pendingmodelapplicationarray_detail_skip" [search_settings]="search_settings"
    [searchendpoint]="searchendpoint" [sortdata]="patient_sortdata" [datacollection]="datacollection"
    [date_search_source_count]="date_search_source_count" [libdata]="libdata" [grab_link]="grab_link"
    [updatetable]="updatetable" [limitcond]="patient_limitcond" [customlistenbutton]="customlistenbutton"
    (onLiblistingButtonChange)="onLiblistingButtonChange($event)"></lib-listing>

<p>HIIIi</p>
<lib-showform *ngIf="formdata !=null" [formdata]="formdata" [formfieldrefresh]="formfieldrefresh"
    [formfieldrefreshdata]="formfieldrefreshdata" (onFormFieldChange)="listenFormFieldChange($event)"
    [custombuttons]="custombuttons" [externaldatavalue]="externaldatavalue">
</lib-showform>



<router-outlet></router-outlet>